body{
  background-color: #fff;
  overflow-x:hidden;
  margin: 0;
}

a {
    text-decoration: none;
}

p {
  line-height: 18px;
  font-size: 12px;
  color: #8899a6;
  font-family: Arial, sans-serif;
}

#login-bar {
  /*margin: 0 -9999rem;*/
  /*padding: 0.25rem 5rem;*/
  /*margin-top: -.5rem;*/
  background: -webkit-linear-gradient(0,#28B5D1, #2FCCB7, lightgreen); /* For Safari 5.1 to 6.0 */
  position:fixed;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  width: 100%;
  z-index: -1000;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 46px;
  border-bottom: 1px solid darkgrey;


}

#login-bar a {
  color: white;
  margin-left: 80%;
  margin-top: 5px;
  position: absolute;
  font-size: 12px;
}

#login-form {
  margin: 0px 36%;
  width: 500px

}
#login-form h2 {
  font-family: helvetica;
  font-size: 30px;
  line-height: 36px;
  font-weight: 300;
  padding: 0;
  margin-top: 32%;
  margin-bottom: 10px
}

.signup-boxes {
    background-color: #fff;
  }

  .signup-boxes input {
    border-radius:3px;
    width:372px;
    height:20px;
    line-height: 18px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom:15px;
    border: 1px solid #e1e8ed;
    font-family: Arial;
    font-size:17px;
    display: inline-block;
  }

  .checkbox-text {
    color: #66757f;
    font-family: Arial;
    font-size: 13px;
    margin-top: 3px;
  }

  .flavorlink a {
    color: #1b95e0;
  }

  .signupbtn {
    width: 392px;
    background-color: #1da1f2;
    background-repeat: no-repeat;
    background-image: none;
    box-shadow: none;
    font-size: 16px;
    font-weight: normal;
    padding: 12px 16px;
    border: 0;
    color: white;
    margin-top: 10px;
    border-radius: 3px;

  }
